/* todos os elementos */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: #eeeeee;
    background-color: #212121;
}

:root {
    --font-titulo: 'Rubik', sans-serif;
    --font-subtitulo: 'Rubik', sans-serif;
    --font-paragrafo: 'Karla', serif;
    --font-citacao: 'Karla', serif;
    --font-button: 'Rubik', sans-serif;
    --font-logo: 'Rubik', sans-serif;
}
p {
    font-family: var(--font-paragrafo);
    color: #eeeeee;
    line-height: 1.5rem;
    font-size: 1rem;
}
h1 {
    font-family: var(--font-titulo);
}
h2,
h3,
h4,
a {
    font-family: var(--font-subtitulo);
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}
.sobre .citacao p {
    font-family: var(--font-citacao);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 3rem;
    font-style: italic;
    line-height: 2rem;
}
.secao-left button {
    font-family: var(--font-button);
}
.secao-right button {
    font-family: var(--font-button);
}
button {
    padding: .6rem 1rem .6rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #a2144c;
    background: white;
    border: 2px solid #a2144c;
    font-weight: bolder;
}
button:hover {
    color: white;
    background: #a2144c;
}
.conecta {
    background-color: #134661;
}
.terapeuticos {
    background-color: #CFEFE9;
}
/* todos os elementos */
nav {
    background: #212121;
    /* border-bottom: solid 1px black; */
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    font-weight: bolder;
    padding: 2rem 2rem 1rem 2rem;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    font-variant: var(--font-subtitulo);
    text-align: right;
    width: 100%;
}
.menu ul li {
    padding: .5rem 1rem;
    text-transform: uppercase;
    text-align: right;
    transition: all .5s;
}
.menu ul a li:hover {
    color: white;
    background-color: #a2144c;
    padding: .5rem 1rem;
}
.menu ul a:visited {
    color: #424242;
    ;
}
.logo {
    width: 9rem;
    height: 2.5rem;
    border: solid 3px #eee;
}
.logo p {
    color: #eee;
    display: flex;
    font-family: var(--font-logo);
    font-weight: 700;
    justify-content: center;
    margin-top: .5rem;
}

.en li{
    padding: .5rem;
}
.en li:hover{
    color:#a2144c;
    background-color:#eeeeee;
    padding: .5rem;
    margin: 0;
}
.sobre {
    text-align: right;
    width: 40rem;
    margin: 0rem 2rem;
}
.sobre p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.autor p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12.5% 0;
}
.sobre h1 {
    font-size: 2rem;
    margin: 0;
}
.sobre h2 {
    margin: .5rem;
    font-size: 3rem;
    font-weight: 600;
}

.trajetoria{       
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.trajetoria img{       
    width: 100%;
}

.foto {
    display: flex;
    object-fit: cover;
    width: 25%;
}
.foto img {
    width: 100%;
}
.titulo-secao {
    margin: 0 10rem;
}
.titulo-secao h2 {
    font-size: 1.8rem;
}
ul li p {
    margin-top: -1rem;
}

.textolink{
font-style: italic;
padding-left: 2rem;
text-decoration:underline;
}

/* servicos */
/* servicos */
/* servicos */
/* servicos */
/* servicos */
/* servicos */
.secao-servicos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    
}
.card-servicos {
    width: 20rem;
    min-height: 18rem;
    margin: 1rem 1rem;
    border: #eeeeee;
    border-style: solid;
}
.card-servicos h2 {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    font-size: 1.5rem;
}
.card-servicos p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1rem 2rem 1rem 2rem;
   
    
}
.card-servicos i {
    font-size: 2rem;
    padding: 2rem 0 0 2rem;
}
.titulo-card {
    display: flex;
}

.card-artigo {
    width: 20rem;
    min-height: 18rem;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    border: #eeeeee;
    border-style: solid;
}
.card-artigo h2 {
    padding: 2rem 2rem 0 2rem;
    font-size: 1.3rem;
}
.card-artigo p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1rem 2rem 0 2rem;
}
.card-artigo i {
    font-size: 2rem;
    padding: 2rem 0 0 2rem;
}
.titulo-card {
    display: flex;
}


/* seção projetos */
/* seção projetos */
/* seção projetos */
/* seção projetos */
.img {
    width: 35rem;
    height: 25rem;
    margin: 1rem 1rem;
    display: flex;
    object-fit: cover;
    border-radius: 1rem;
}
.secao-left {
    padding: 10rem 0;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.secao-left .img img,
.secao-right .img img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 1rem;
}
.white {
    color: #fff;
    font-weight: 400;
}
.desc-right {
    text-align: left;
    width: 30rem;
    margin: 0rem 1em;
}
.desc-right h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
.desc-right h3 {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.desc-right p {
    margin-top: 1rem;
}
.desc-right button {
    text-transform: uppercase;
    margin-top: 1rem;
}
.secao-right {
    padding: 10rem 0;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.desc-left {
    text-align: right;
    width: 30rem;
    margin: 0rem 1rem;
}
.desc-left h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
.desc-left h3 {
    font-size: 1.5rem;
    margin-top: .5rem;
}
.desc-left p {
    margin-top: 1rem;
}
.desc-left button {
    text-transform: uppercase;
    margin-top: 1rem;
}
/* outros */
/* outros */
/* outros */
/* outros */
/* outros */
/* outros */
/* outros */
.secao-outros {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0rem;
}
.outros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem;
    width: 100%;
}
.op {
    background-color: #eeeeee;
}
.op .titulo-secao {
    padding-top: 3rem;
    margin: 0 10rem;
}
.outros h3 {
    margin-top: 1rem;
}
.divisor {
    height: 2px;
    width: 100%;
    background-color: #424242;
}
.lista-artigos {
    width: 20rem;
}
.lista-artigos p {
    color: #424242;
    border-bottom: solid 1px #424242;
    padding: 1rem 0;
    width: 100%;
}
.lista-artigos .noborder {
    border: none;
    text-align: left;
}
.lista-artigos p:hover {
    background-color: #dddddd;
}
footer {
    background-color: #212121;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}
footer p {
    color: #eeeeee;
    text-align: center;
    padding: 0 1rem;
}
.whatsapp {
    display: flex;
    object-fit: cover;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.whatsapp img {
    width: 2rem;
    height: 2rem;
}
/* projeto 1 */
/* projeto 1 */
/* projeto 1 */
/* projeto 1 */
/* projeto 1 */
.container {
    padding: 3rem 0;
    display: flex;
    width: 100%;
}
.left-half {
    margin-left: 10rem;
    flex: 1;
}
.right-half {
    margin-right: 10rem;
    flex: 2;
}
.right-half ul li {
    padding-top: 1rem;
    padding-left: 2rem;
}
.right-half p {
    padding-top: 1rem;
}
.firsth4 {
    margin-top: -5.5rem;
}
.firstp {
    margin-top: -6.5rem;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header h1 {
    margin: 3rem 0 0 0;
}
.header h2 {
    margin: 0 2rem;
    text-align: center;
    font-size: 1rem;
}
.header p {
    margin-top: 2rem;
    text-align: center;
}
.intro {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #424242;
    text-transform: uppercase;
}
.tags p {
    margin: 1rem 0;
    padding: 0 1rem;
}
.property {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
}
.property div{
    width: 12rem;
    margin: auto;
    height: 7rem;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 2rem 0 1rem 10rem;
}
.h4pad {
    padding-top: 2rem;
}
.conteudo-subtitulo {
    margin: 0 1rem;
}
.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
.imagem p {
    font-style: italic;
    font-size: .9rem;
}
.imagem img {
    width: 75%;
    border-color: #ffffff;
    border-style: solid;
    border-width: .1rem;
    border-radius: 1rem;
    background-color: #fff;
}
.imagem2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 7rem;
    
}
.imagem2 p {
    font-style: italic;
    font-size: .9rem;
    text-align: center;
}
.imagem2 img {
    width: 100%;
    border-color: #ffffff;
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
}
.imagem2cont {
    width: 45%;
    padding: 0.5rem;
    
}
.h4imagem2 {
    margin-left: 10rem;
    margin-top: 3rem;
}
.title {
    align-items: left;
    margin-left: 10rem;
    margin-top: 3rem;
}
.title h2 {
    font-size: 2rem;
    margin-bottom: .2rem;
}
p.desafio{
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color:#a2144c;
    padding-top:-0;
    margin-top: 1rem;
}

.container-img {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-img img {
    width: 100%;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.pagleft {
    text-align: left;
    margin: 0 10rem;
}
.pagright {
    text-align: right;
    margin: 0 10rem;
}
.right-half .depoimento-first {
    padding-top: 0;
    font-style: italic;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    border-left: solid 1px;
}
.right-half .depoimento {
    font-style: italic;
    padding-top: 0;
    margin-top: 3rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    border-left: solid 1px;
}

/* media querry */
/* media querry */
/* media querry */
/* media querry */
/* media querry */
@media only screen and (max-width: 1024px) {
    /* projeto 1 */
    /* projeto 1 */
    /* projeto 1 */
    .title {
        margin-left: 1rem;
    }
    .titulo-secao {
        margin-left: 1rem;
    }
    .op .titulo-secao {
        padding-top: 3rem;
        margin: 0 1rem;
    }
    .outros {
        margin: 0 1rem;
    }
    .container {
        display: inline;
    }
    .right-half {
        margin: 0;
    }
    .right-half p {
        padding-top: 1rem;
    }
    .firstp {
        margin-top: 0;
    }
    .right-half .depoimento-first {
        margin-left: 1rem;
    }
    h4 {
        padding: 0;
    }
    .firsth4 {
        margin-top: 0rem;
    }
    .title2 {
        margin-left: 1rem;
    }
    article {
        padding: 0 1rem;
    }
    article h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0rem 1rem 1rem 1rem;
    }
    .imagem {
        margin: 0 1rem;
        padding-top: 1rem;
    }
    .imagem img {
        width: 100%;
        padding: 0;
    }
    .imagem2 {
        margin: 2rem 1rem;
    }
    .imagem2 img {
        width: 100%;
    }
    .imagem2cont {
        width: 100%;
        padding: 0 1rem;
    }
    .h4imagem2 {
        margin-left: 0;
        margin-top: 2rem;
    }
    .pagleft {
        text-align: left;
        margin: 0 1rem;
    }
    .pagleft h4 {
        padding: 0;
    }
    .pagright {
        text-align: right;
        margin: 0 1rem;
    }
    .pagright h4 {
        padding: 0;
    }
    .pagright p {
        text-align: right;
    }
}
@media only screen and (max-width: 529px) {
    /* projeto 1 */
    /* projeto 1 */
    /* projeto 1 */
    nav {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    p {
        text-align: left;
    }
    .sobre {
        text-align: center;
    }
    .secao-servicos {
        padding: 5rem 0;
    }
    .titulo-secao {
        align-items: left;
        margin-left: 1rem;
        margin-top: 3rem;
    }
    .menu ul {
        font-variant: var(--font-subtitulo);
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        margin-right: 0;
    }
    .intro {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .tags {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #424242;
        text-transform: uppercase;
        margin-top: 3rem;
    }
    .tags p {
        margin: .5rem 0;
        padding: 0;
    }
    .property {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem 0;
        text-align: center;
    }
    .property h4 {
        margin-top: 1rem;
    }
    .property p {
        text-align: center;
    }
    .secao-left {
        padding: 5rem 0;
    }
    .secao-right {
        padding: 5rem 0;
    }
}